
#navbar{
 background-color: rgb(196, 196, 196);
    color: rgb(0, 0, 0);
   width: 1915px;
   height: 70px;
padding: 0.1%;
font-size: large;
}
#navbar2{
 background-color: rgb(196, 196, 196);
    color: rgb(0, 0, 0);
   width: 1915px;
   height: 40px;
padding: 0.1%;
font-size: large;
}
#nvg{
  display: flex;
}

body{
margin: 0px;

}
#amarelo{
height: 20px;
width: 1915px;
}

#buutao{
 
    height: 50px;
    height: 35px;

}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
 
}
