
#navbar{
 background-color: rgb(196, 196, 196);
    color: rgb(0, 0, 0);
   width: 1915px;
   height: 70px;
padding: 0.1%;
font-size: large;
}
#navbar2{
 background-color: rgb(196, 196, 196);
    color: rgb(0, 0, 0);
   width: 1915px;
   height: 40px;
padding: 0.1%;
font-size: large;
}
#nvg{
  display: flex;
  padding: 1px;
  align-items: center;
  gap:30px;

}

body{
margin: 0px;

}
#amarelo{
height: 20px;
width: 1915px;
}

.buutao{
 
    height: 50px;
    height: 35px;

}
.table {
  border-collapse: collapse;

  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
 border: 2px solid black;
  border-radius: 5px; 
  width: 300px;
  
}
table, th, td {

  border: 1px solid black;
}

th, td {
  
  padding: 5px;
  text-align: left;
}

#img2 {

height: 10px;
width: 300px;

}

.azul{

  th { background-color: #4CAF50; color: white; }

}