
#navbar{
 background-color: rgb(196, 196, 196);
    color: rgb(0, 0, 0);
   width: 1915px;
   height: 70px;
padding: 0.1%;
font-size: large;
}
body{
margin: 0px;

}
#amarelo{
height: 20px;
width: 1915px;
}

#buutao{
 
    height: 50px;
    height: 35px;

}